GROQ_API_KEY=your_groq_api_key_here
NEXT_PUBLIC_API_URL=http://localhost:3001
IO_NET_API_KEY=your_io_net_api_key_here
IO_NET_ENDPOINT_US=https://your-us-node-url/
IO_NET_ENDPOINT_EU=https://your-eu-node-url/
NEWSDATA_API_KEY=pub_b72d3e5def0f468fad31c80b2b76b8ad
